# Node
node_modules/

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env.*
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Cache
.cache/
.sass-cache/

# Vercel / build outputs
.vercel/
.next.cache/

# Coverage
coverage/

# Misc
*.local
